@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.main {
display: flex;
flex-direction: column;
align-items: center;
min-height: 76vh;
}

.dropdown {
    margin-bottom: 20px;
    width: 60%;
    background-color: #e5e5e5;
}

.dropdown-head {
    align-items: center;
    background-color: #ff6060;
    border-radius: 5px;
    color: #fff;
    display: flex;
    height: 47px;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    margin-left: 10px;
    font-weight: 500;
    font-size: 27px;
    text-transform: capitalize;
}

.dropdown-content {
    background-color: #e5e5e5;
    border-radius: 0 0 5px 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #ff6060;
    padding-left: 15px;
}

button {
    background-color: transparent;
    padding-right: 16px;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    color: white;
}