@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.banner {

    position: relative;
    top: 50%;
}

.banner img {
    border-radius: 25px;
    margin-bottom: 50px;
    filter: brightness(0.6);
    width: 100%;
}


.banner-text {

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 40px;
position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
color: #FFFFFF;
}

@media screen and (min-width: 401px) and (max-width: 801px) {

    .banner-text {
        font-size: 24px;
        left: 35%;
        top: 45%;
    }

    .banner img {
        border-radius: 10px;
        margin-bottom: 0;
    }

 }