@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.title-error {
font-family: 'Montserrat';
color : #FF6060;
text-align: center;
font-size: 280px;
font-weight: 700;
}

.text-error {
    font-family: 'Montserrat';
    color : #FF6060;
    font-size: 36px;
    text-align: center;
}

.link-acceuil {
    font-family: 'Montserrat';
    color : #FF6060;
    text-align: center;
    text-decoration-line: underline;
    font-size: 18px;
    margin-top: 180px;
    margin-bottom: 40px;
}